/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-image-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
.mobile-home-img {
  width: 80%;
  max-width: 468px;
}
.desktop-home-img {
  width: 100%;
  max-width: 1110px;
}
@media (min-width: 768px) {
  .mobile-home-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-home-img {
    display: none;
  }
}
